Importamos las librerías Pandas y Numpy

In [4]:
import pandas as pd
import numpy as np

### Step 2. Tomaremos el fichero en [esta URL](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) y lo leeremos como un dataframe.

Pista: [read_csv](https://numpy.org/doc/stable/user/absolute_beginners.html#importing-and-exporting-a-csv)

In [60]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df_file = pd.read_csv("chipotle.csv",sep = "\t",)#, index_col = "user_id")
df = pd.read_csv(url, sep='\t')#, index_col='user_id')

df["item_price_float"]=df["item_price"].str.replace("$","").astype(float)
df.head()

,order_id,quantity,item_name,choice_description,item_price,item_price_float
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

### Step 3. Veamos los tipos de datos. ¿Podríamos obtener el producto de mayor precio?

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
 5   item_price_float    4622 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 216.8+ KB

In [62]:
valor_maximo = df["item_price_float"].max()
condicion = (df["item_price_float"]==valor_maximo)
df[condicion]

,order_id,quantity,item_name,choice_description,item_price,item_price_float
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25

In [63]:
df[df["item_price_float"]==df["item_price_float"].max()]

,order_id,quantity,item_name,choice_description,item_price,item_price_float
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25

### Step 4. ¿Qué productos cuestan más de $10?

In [64]:
df_new = df[df["item_price_float"]>10]
print(df_new)
print(df_new["quantity"])

      order_id  quantity           item_name  \
4            2         2        Chicken Bowl
5            3         1        Chicken Bowl
7            4         1       Steak Burrito
13           7         1        Chicken Bowl
23          12         1     Chicken Burrito
...        ...       ...                 ...
4610      1830         1       Steak Burrito
4611      1830         1      Veggie Burrito
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl

                                     choice_description item_price  \
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
23    [[Tomatillo-Green Chili Salsa (Medium), Tomati...    $10.98
...                                                 ...        ...
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...    $11.25
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25

      item_price_float
4                16.98
5                10.98
7                11.75
13               11.25
23               10.98
...                ...
4610             11.75
4611             11.25
4617             11.75
4618             11.75
4619             11.25

[1130 rows x 6 columns]
4       2
5       1
7       1
13      1
23      1
       ..
4610    1
4611    1
4617    1
4618    1
4619    1
Name: quantity, Length: 1130, dtype: int64

### Step 4.1: ¿Y cuántos pedidos se han hecho con un producto de más de 10$? ¿Es lo mismo?

      order_id  quantity           item_name  \
4            2         2        Chicken Bowl
5            3         1        Chicken Bowl
7            4         1       Steak Burrito
13           7         1        Chicken Bowl
23          12         1     Chicken Burrito
...        ...       ...                 ...
4610      1830         1       Steak Burrito
4611      1830         1      Veggie Burrito
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl

                                     choice_description item_price  \
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
23    [[Tomatillo-Green Chili Salsa (Medium), Tomati...    $10.98
...                                                 ...        ...
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...    $11.25
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25

      item_price_float
4                16.98
5                10.98
7                11.75
13               11.25
23               10.98
...                ...
4610             11.75
4611             11.25
4617             11.75
4618             11.75
4619             11.25

[1130 rows x 6 columns]
4       2
5       1
7       1
13      1
23      1
       ..
4610    1
4611    1
4617    1
4618    1
4619    1
Name: quantity, Length: 1130, dtype: int64

### Step 4.2: ¿Y cuántos pedidos se han hecho de más de 10$? ¿Es lo mismo?

In [46]:
print(df_new["quantity"].sum())

1314

### Step 4.3: ¿Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? ¿Es lo mismo?

### Step 5. ¿Qué precio tiene cada producto en distintos pedidos? ¿Hay productos con varios precios?

### Step 6. Ordena el dataframe en base al nombre de producto (item name)

### Step 7. ¿Cuantas veces se ha pedido los productos más caros?

### Step 8. Veamos para el caso de Veggie Salad Bowl. Extrae esa información.